{% macro gather_inventories(inventories) %}
{% for inv in inventories %}
{%- if inv['fromConfigMap'] %}
if [[ -f "vol/project/{{ inv['fromConfigMap']['key']}}" ]]; then echo "Inventories files has the same name!"; exit 1; else cat {{ inv['fromConfigMap']['name'] }}/{{ inv['fromConfigMap']['key']}} >> /vol/project/{{ inv['fromConfigMap']['key']}}; fi
{%- endif %}
{% endfor %}
{% endmacro -%}