{% macro gather_playbooks(playbooks) %}
{% for play in playbooks %}
{%- if play['fromConfigMap'] %}
cat /{{ play['fromConfigMap']['name'] }}/{{ play['fromConfigMap']['key']}} >> /vol/project/{{ play['fromConfigMap']['key']}}
{%- endif %}
{% endfor %}
{% endmacro -%}
