{% macro create_repo_inputs(repos) -%}
inputs:
  artifacts:
{% for repo in repos %}
    - name: {{ repo['name'] }}
      path: {{ repo['name'] }}
      git:
        repo: {{ repo['url'] }}
        revision: {{ repo['revision']}}
{% if repo['credentials'] %}
{% for cred_type, value in repo['credentials'].items() %}
        {{ cred_type }}:
{% for key2, value2 in value.items() %}
          {{ key2}}: {{ value2 }}
{% endfor %}
{% endfor%}
{% endif %}
{% endfor %}
{% endmacro -%}