{% macro gather_variables(variables) %}
{% for vars in variables -%}
{%- if vars['fromRepo'] -%}
{# cat /{{ vars['fromRepo']['repo_path'] }}/{{ vars['fromRepo']['path'] }} >> /vol/env/extravars && #}
{%- elif vars['fromExtRepo'] %}
cat /{{ vars['fromExtRepo']['repo_path'] }}/{{ vars['fromExtRepo']['git']['path'] }} >> /vol/project/mast_extra_vars.yaml;
{%- elif vars['fromConfigMap'] %}
cat /{{ vars['fromConfigMap']['name'] }}/{{ vars['fromConfigMap']['key']}} >> /vol/project/mast_extra_vars.yaml;
{%- elif vars['fromLiteral']%}
{% for literal in vars['fromLiteral'] -%}
echo "{{literal.keys() | first}}: {{literal.values() | first}}" >> /vol/project/mast_extra_vars.yaml;
{%- endfor %}
{%- endif %}
{% endfor %}
{% endmacro -%}
