{% macro container_mount(playbooks, variables, inventories)%}
{% set configs = [playbooks, variables, inventories] %}
{% for conf in configs %}
{% for src in conf %}
{%  if src['fromConfigMap'] %}
- name: {{ src['fromConfigMap']['name']}}
  mountPath: /{{ src['fromConfigMap']['name']}}
{%  endif%}
{% endfor %}
{% endfor%}
{% endmacro%}

{% macro pod_mount(playbooks, vars, inventories)%}
{% set configs = [playbooks, vars, inventories] %}
{% set vars = {'first': True} %}
{% for conf in configs %}
{% for src in conf %}
{%  if src['fromConfigMap'] %}
{%      if vars.first %}
volumes:
{% if vars.update({'first': False}) %} {% endif %}
{%      endif %}
  - name: {{ src['fromConfigMap']['name']}}
    configMap:
      name: {{ src['fromConfigMap']['name']}}
{%  endif%}
{% endfor %}
{% endfor%}
{% endmacro%}