{% from 'repo_artifacts.j2' import create_repo_inputs %}
{% from 'volumes.j2' import pod_mount, container_mount %}
{% from 'playbook_utils.j2' import gather_playbooks %}
{% from 'inventory_utils.j2' import gather_inventories %}
{% from 'variables_utils.j2' import gather_variables %}
{% from 'repo_workdir.j2' import manage_repo_workdir %}
---
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  {% if workflowName %}
  generateName: "{{workflowName}}-"
  {% else %}
  generateName: "{{mastrun_name}}-"
  {% endif%}
  namespace: mast
  labels:
    mastjob: {{ mastjob_name }}
    mastrun: {{ mastrun_name }}
spec:
  serviceAccountName: {{ service_account }}
  VolumeClaimGC: OnWorkflowCompletion
  entrypoint: mastrun
  volumeClaimTemplates:
    - metadata:
        name: workdir
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 100Mi
  {{ pod_mount(playbooks,inventories ,variables)|indent(2) }}

  templates:
    - name: mastrun
      steps:
        - - name: gather-artifacts
            template: gather-artifacts
        - - name: ansible-play
            template: ansible

    - name: gather-artifacts
      {% if repo_artifacts %}
      {{ create_repo_inputs(repo_artifacts)|indent(6) }}
      {% endif %}
      script:
        image: debian:9.4
        command: [bash]
        source: |  
          #!/bin/bash 
          rm -R -f /vol/project
          mkdir -p vol/project
          {{ manage_repo_workdir(repo_artifacts)|indent(10) }}
          {{ gather_playbooks(playbooks)|indent(10) }} 
          {{ gather_inventories(inventories)|indent(10) }} 
          {{ gather_variables(variables)|indent(10) }} 
        volumeMounts:
          - name: workdir
            mountPath: /vol
          {{ container_mount(playbooks, inventories, variables)|indent(10) }}

    - name: ansible
      container:
        image: {{image}}
        command: ['ansible-playbook']
        args: [{{ ansible_playbook_args}}]
        volumeMounts:
        - name: workdir
          mountPath: /vol
        


